<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/spinfluence.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Spinfluence.styles.css" asp-append-version="true" />
</head>
@using Spinfluence.Data;
@using Spinfluence.Services;

@inject IAccountService accountService;
@{
    #pragma warning disable
    string? token = Context.Request.Cookies["token"];
    dynamic obj = null;

    if(!string.IsNullOrEmpty(token))
        obj = accountService.About(token);
}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b style="color: #3b444b;">SpinFluence</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><b style="color: #3b444b;">Home</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy"><b style="color: #3b444b;">Privacy</b></a>
                        </li>
                    </ul>
                </div>
                @if (!string.IsNullOrEmpty(token))
                {
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/Account/Show/" width="32" height="32" style="border-radius: 50%;" /> <b style="color: #3b444b;">@obj.username</b>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item text-dark" href="#">Add Companies</a></li>
                            <li><a class="dropdown-item text-dark" href="/Practice/">My Internships</a></li>
                            <li><a class="dropdown-item text-dark" href="/Account/Signout">Sign Out</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <a class="nav-link text-success" style="font-weight: bold;" href="/Account/Login">Sign In <i class="text-dark" style="font-weight: normal;">&nbsp;or</i></a>
                    <a class="nav-link text-secondary" style="font-weight: bold; margin-left: -1%;" href="/Account/Signup">Sign Up</a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-3">
                <div class="container" style="color: #FFDEAD; font-weight: bold;">
                    &copy; 2023 - Spin Fluence - <a asp-area="" class="text-primary" style="text-decoration: none;" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/spinfluence.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
