@{
    ViewData["Title"] = "Detalii Internship";
}
<h1>@ViewData["Title"]</h1>

<p class="text-dark">Este deja un lucru bine stiut ca experienta practica reprezinta o parte esentiala in obtinerea unui job ca si proaspat absolvent. 
Astfel, pentru a-si crestere sansele de angajare, multi studenti si absolventi fac stagii si urmeaza programe de internship-uri pentru a explora o profesie care ii intereseaza si pentru a obtine experienta practica pentru CV-urile lor. 
De asemenea, sansele de a obtine un loc de munca la acel angajator cresc, mai ales daca este o organizatie mare care recruteaza o multime de absolventi. De la sfarsitul lunii august a intrat in vigoare legea care reglementeaza cadrul 
legal in care pot fi organizate programele de internship de catre angajatori si conditiile care trebuiesc indeplinite.<br/>
Una dintre cele mai importante modificari aduse prin actul normativ este&nbsp;<strong>obligativitatea platii</strong> tinerilor care se inscriu in astfel de programe.<br/>
<div class="row">
    <div class="col-4">
        <img alt="lege internship smartree" class="alignleft " src="~/images/intership-smartree.jpeg" style="width: 379px; height: 195px;"> 
    </div>
    <div class="col-8">
            <p class="text-dark">Astfel, tinerii de cel putin 16 ani vor putea face practica platita pentru companii sau entitati publice in baza unor contracte de internship pentru o perioada maxima de sase luni in cadrul aceleasi companii. Inclusiv tinerii
            cu varsta implinita de 15 ani se pot inscrie in astfel de programe, insa numai cu acordul parintilor sau al reprezentantilor legali. Internii vor avea dreptul la o indemnizatie lunara de cel putin jumatate din valoarea salariului minim brut per economie, valoare salariala care va fi calculata direct proportional cu numarul de ore lucrate. Angajatorii, pe de alta parte, au obligativitatea completarii si transmiterii datelor din contractul de internship,
            cel tarziu in ultima zi lucratoare anterioara inceperii activitatii in cadrul programului de internship, in registrul electronic de evidenta.</p>
    </div>
</div>
<br />Chiar daca existenta acestor programe nu este deloc noua, existand sub diferite forme inca de acum 10-15 ani in Romania, introducerea unei remuneratii ii poate 
cointeresa si responsabiliza mai mult pe tineri. In plus, la momentul absolvirii facultatii, acestia pot fi in postura in care au beneficiat deja de prima lor experienta practica, 
ceea ce inseamna un pas in plus catre integrarea pe piata muncii. Iar avantajele nu se opresc aici pentru tinerii constiinciosi care sunt dispusi sa dobandeasca o experienta practica inca din timpul studiilor. 
Perioada in care si-au desfasurat activitatea in baza contractului de internship se considera vechime in munca, si, dupa caz, vechime in specialitate, in functie de tipul activitatii. Totusi, numarul de locuri ce pot fi ocupate pentru un 
astfel de program sunt limitate si se stabilesc pentru fiecare companie in parte ca si procent din numarul total de salariati. Astfel, potrivit legii, numarul internilor nu poate depasi 5% din numarul total al angajatilor. Aceasta limitare poate fi interpretata pana la urma si in sensul descurajarii 
incheierii contractelor de internship ca si substitut pentru contractele de munca. Tot in acest scop, legea prevede faptul ca intre intern si un angajator&nbsp;se poate incheia un singur contract de internship pe parcursul a sase luni consecutive. 
Existenta mai multor astfel de contracte este permisa doar daca se parcurg programe de internship diferite. Totodata, si angajatorii au avantaje la finalul programelor de internship.&nbsp;Daca contractul de munca este incheiat in primele 60 de zile 
de la incheierea contractului de internship, compania va putea cere de la stat o prima de circa 1.000 de euro din bugetul asigurarilor pentru somaj pentru fiecare persoana astfel angajata. 
Exista insa si o conditie si anume mentinerea contractului de munca pe o perioada neintrerupta de cel putin 24 de luni. Programul se va desfasura in baza activitatilor specificate in contractul de internship, 
cu respectarea fisei de internship, iar la finalul perioadei de proba internului i se va elibera un certificat&nbsp;care atesta perioada in care acesta a desfasurat activitatea, tipul de activitati desfasurate, 
precum si calificativul obtinut in urma evaluarii. Internul isi va desfasura activitatea in cadrul companiei sub indrumarea unui coordonator care poate asigura formarea, in acelasi timp, pentru cel mult 3 interni. 
Totusi, nu toate profesiile se preteaza pentru aceasta forma de pregatire profesionala, iar activitatile care presupun munca necalificata nu permit desfasurarea programelor de internship, din motive evidente.</p>
